h3{
    background-color: burlywood;
    color: brown;
    text-decoration: underline;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    background-color: blue;
    text-align: center;
    size: 50px;
    
}



